<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>userinfoCRUD</display-name>
  <welcome-file-list>
    <welcome-file>userlist.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserInfoServlet</display-name>
    <servlet-name>QueryUserInfoServlet</servlet-name>
    <servlet-class>com.servlet.QueryUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserInfoServlet</servlet-name>
    <url-pattern>/QueryUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserInfoServelt</display-name>
    <servlet-name>DeleteUserInfoServelt</servlet-name>
    <servlet-class>com.servlet.DeleteUserInfoServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserInfoServelt</servlet-name>
    <url-pattern>/DeleteUserInfoServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>com.servlet.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/FindUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
</web-app>